/* bootcamp */
.blog-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
 
}

.blog-box {
  display: flex;
  gap: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.blog-title {
  display: block;
  font-size: 35px;
}


.blog-image {
    max-width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.blog-video {
    max-width: 300px;
    border-radius: 45px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


.blog-box.reverse {
  flex-direction: row-reverse;
}

/* Navbar */
.navbar {
    background-color: white;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar a:hover {
    color: #007BFF;
    border-bottom: 2px solid #007BFF;
}

